table {
    border: 3px solid silver;
}
td:hover {
    background-color: greenyellow;
    color: blue;
}
th {
    background-color: black;
    color: cornsilk;
}
td {
    background-color: darksalmon;
    color: sienna;
}