body {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: lavender;
    color: darkblue;
    
}

.info_request {
    background-color: blueviolet;
    width: 50%;
    height: 80%;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    align-items: center;


}

.info_request form{
    align-self: center;
}

.info_request h2{
    text-size-adjust: auto;
    text-align: center;
}

input[type=text] {
    width: 50%;
    margin-top: 8px;
    border-radius: 6px;
    margin: auto;

    
}
